---
layout: default
published: true
---
<div class="posts">
  {% for category in site.categories["study"] %}
  {% for post in category[1] %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">... {{ post.title }} ({{ category[0] }})</a></h2>
      
      <div class="date">Published: {{ post.date | date: "%A, %B %-d, %Y" }}</div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  {% endfor %}
</div>
