.date {
	font-size: 1rem;
}

.post blockquote {
    font-size: .85rem;
    margin-left: 3rem;
    
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    strong {
        clear: left;
        display: block;
        float: left;
        width: 1.5rem;
    }
    
    a {
        text-align: right;
        clear: left;
        display: block;
    }
}

a[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}

@media print {
     a[href]:after {
     	  content: " (" attr(href) ") ";
     }
}