.date {
	font-size: 1rem;
}

.post blockquote {
    font-size: .85rem;
    margin-left: 3rem;
    
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    strong {
        clear: left;
        display: block;
        float: left;
        width: 1.5rem;
    }
    
    a:last-child {
        text-align: right;
        clear: left;
        display: block;
    }
}

a {
	position: relative;
    
    &[data-tooltip]:hover {
        cursor: help;
            
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            left: 0;
            top: 1rem;
            min-width: 16rem;
            border: 0.01rem #aaaaaa solid;
            border-radius: 0.25rem;
            background-color: #cccccc;
            padding: 0.25rem;
            color: #000000;
            font-size: 0.75rem;
            z-index: 1;
        }
    }
}

@media print {
     a[href]:after {
     	  content: " (" attr(href) ") ";
     }
}
